/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #fff;
    color: #333;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007BFF;
}

main {
    padding-top: 100px; /* To avoid content being hidden under fixed header */
}

.section {
    padding: 3rem 1rem;
    text-align: center;
}

.section .content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
}

.intro h2 {
    margin-top: 1rem;
    font-size: 2rem;
}

.intro h3 {
    font-size: 1.5rem;
    color: #666;
}

.project-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.project-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.project-button:hover {
    background-color: #0056b3;
}

footer {
    background: #fff;
    color: #333;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #ddd;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer .footer-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

footer p {
    margin: 5px 0;
}
