@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #000B27;
}

header {
    background: #000B27;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title-container {
    text-align: left;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f4f4f9;
}

nav ul li a:visited {
    color: #fff;
}

.section {
    padding: 5rem 1rem 3rem;
    text-align: center;
    position: relative;
}

#me {
    background: url('img/background-me.jpg') no-repeat center center/cover;
    color: #000B27
}

.limited-width {
    max-width: 750px;
    margin: 0 auto;
}

.section:nth-of-type(even) {
    background-color: #f4f4f9;
}

.section:nth-of-type(odd) {
    background-color: #fff;
}

.section .content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.section .content:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-picture img {
    border-radius: 25%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.project {
    margin: 2rem 0;
}

.project h3 {
    margin-bottom: 0.5rem;
    color: #000B27;
}

.hobby {
    margin: 2rem 0;
}

.hobby h3 {
    margin-bottom: 0.5rem;
    color: #000B27;
}

.contacts {
    margin: 2rem 0;
}

.contacts h3 {
    margin-bottom: 0.5rem;
    color: #000B27;
}

.contacts a {
    color: #000B27;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contacts a:hover {
    color: #c5c5c5;
}

.contacts a.no-underline:hover {
    color: #c5c5c5;
}

.contacts a:visited {
    color: #000B27;
}

footer {
    background: #000B27;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ccc;
}

footer a:visited {
    color: #fff;
}

body::before {
    content: '';
    display: block;
    height: 80px;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    text-decoration: none;
}

.no-underline:visited {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 500px) {
    .section {
        padding: 8rem 1rem 6rem;
    }
}

@media (max-width: 500px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        flex-direction: column;
        align-items: center;
    }

    .title-container {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }
}
